<div class="container">
  <div class="row" style="margin-top: 30px;">
    <div class="col-xs-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2">
      <input type="text" [(ngModel)]="filteredStatus">
      <hr>
      <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
      <br><br>
      <h2>App Status: {{ appStatus | async }}</h2>
      <hr>
      <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let server of servers | filter:filteredStatus:'status'"
            [ngClass]="getStatusClasses(server)">
              <small class="text-muted">
                <strong>
                  {{ server.name | shorten: 12  }}</strong> | 
                  {{ server.instanceType | uppercase }} | 
                  {{ server.started | date: 'fullDate' | uppercase }}
                <span class="badge bg-secondary">{{ server.status }}</span>
              </small>
        </li>
      </ul>
    </div>
  </div>
</div>